<h1>Current gods:</h1>
<h1><a href = "/"> Back Home</a></h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Name</th> 
        <th>Origin</th> 
        <th>God Of</th> 
    </thead> 
    <tbody> 
        {{#each gods}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{origin}}</td> 
            <td>{{god_of}}</td> 
            <td><button onclick="deleteGod({{god_id}})">Delete</button></td>
            <td><a href="/gods/{{god_id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addgod" action="/gods" method="post">
    Name: <input type="text" name="name"><br>
    Origin: <input type="text" name="origin"><br>
    God Of: <input type="text" name="god_of"><br>
    <input type="submit" value="Submit">
    </form>
</table> 